/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global CSS variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Body styling */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  font-family: Arial, sans-serif; /* Example font-family */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

/* Custom utility class */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
